#navbar-brand{
    color: #FF0000;
}

#main-content{
    margin-top: 6em;
}

body{
    background-color: #E9ECEF;
}

.main-header{
    color:#FF0000;
}

#aboutUs-header{
    color:  #A020F0;
    margin-bottom: 0;
}


.aboutUs-header2{
    color: #FFA500;
}

.card{
    margin: 1em;
}

#products-header{
    color:#FF0000;
}